* {
	font-family: 'Oswald', sans-serif;
	color: white;
}

body {
	margin: 0;
	background-color: coral;
}

header {
 	text-align: center;
	padding: 2em;
	height: auto;
	background-color: maroon; 
	/*color: white;*/
}

footer {
	clear: both;
    height: auto;
	padding: 1em;
    text-align: center;
    background-color: red; 
}

h1 {
	margin: auto;
	padding: 0.5em 0.5em;
}

button {
	background-color: lightgreen;
	color: black;
}

input[type='submit'] {
	background-color: lightgreen;
	color: black;
}

dl {
	background-color: black;
}

a {
	font-weight: bolder;
	color: coral;
}

.container {
	margin: auto;
	padding: 0.5em;
	/*width: 600px;*/
	width: 90%;
	/*color: #f9f3f3;*/
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/books-icon.jpg') no-repeat center center;
	width: 10em;
	height: 10em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 0.5em;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	/*margin-left: 3em;*/
	height: 25em;
}

.post_count img {
	height: 10em;
}

.result {
	text-align: center;
	border: 0.2em dotted coral;
	border-radius: 0.75em;
	padding: 1em;
	margin: auto;
	/*max-width: 22%;*/
	overflow: auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.search-results {
	text-align:center;
}