.container {
	margin: auto;
	/*width: 600px;*/
	width: 90%;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/books-icon.jpg') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	/*margin-left: 3em;*/
	height: 300px;
}

.post_count img {
	height: 200px;
}

.result {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin: auto;
	/*max-width: 22%;*/
	overflow: auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.search-results {
	text-align:center;
}